{% if form.non_field_errors %}<ul class="messages"><li class="error">{{ form.non_field_errors|join:" " }}</li></ul>{% endif %}
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
<div class="{% if grid %}form-grid{% endif %}">
{% for field in form.visible_fields %}
  <div class="field{% if field.field.widget.input_type == 'checkbox' %} checkbox{% endif %}">
    {% if field.field.widget.input_type == 'checkbox' %}
      {{ field }} {{ field.label_tag }}
    {% else %}
      {{ field.label_tag }} {{ field }}
    {% endif %}
    {% if field.help_text %}<span class="helptext">{{ field.help_text }}</span>{% endif %}
    {{ field.errors }}
  </div>
{% endfor %}
</div>
